%footer.py-4.bg-dark.text-light
  .container.text-center
    / ナビゲーション
    %ul.nav.justify-content-center.mb-3
      %li.nav-item
        %a.nav-link{:href => "#"} Top
      %li.nav-item
        %a.nav-link{:href => "#"} News
      %li.nav-item
        %a.nav-link{:href => "#"} About
      %li.nav-item
        %a.nav-link{:href => "#"} Menu
      %li.nav-item
        %a.nav-link{:href => "#"} Coupon
      %li.nav-item
        %a.nav-link{:href => "#"} Infomation
      %li.nav-item
        %a.nav-link{:href => "#"} Contact
    %p.text-center
      %small Copyright ©2019 Flee Style, All Rights Reserved
